*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.app {
  display: flex;
  flex-direction: column;
  font-family: Arial, sans-serif;
}

.content {
  display: flex;
  padding: 40px;
  background-color: rgb(248, 248, 248);
  height: 100vh;
}

.main {
  flex: 3;
  margin-right: 20px;
}

.header {
  background-color: #333333ed;
  color: white;
  padding: 20px 40px;
  text-align: center;
  display: flex;
  justify-content: space-between;
}

.header button {
  background-color: #38d33de7;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.header button:hover {
  background-color: #45a049;
}

.blog-post {
  border: 1px solid #ddd;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.blog-title {
  margin: 0;
  font-size: 24px;
  color: #333;
}

.blog-author {
  font-size: 14px;
  color: #555;
}

.blog-content {
  font-size: 16px;
  color: #444;
}

.sidebar {
  flex: 1;
  border-left: 1px solid #ddd;
  padding-left: 20px;
}

.sidebar h2 {
  font-size: 24px;
  color: #333;
  margin-bottom: 20px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  margin-bottom: 14px;
  font-size: 16px;
  color: #555;
}
.sidebar li:hover {
  color: #242424;
  cursor: pointer;
}
.sidebar li:active {
  font-weight: bold;
}