*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.app {
  display: flex;
  flex-direction: column;
  font-family: Arial, sans-serif;
}

.content {
  display: flex;
  padding: 40px;
  background-color: rgb(248, 248, 248);
  height: 100vh;
}

.main {
  flex: 3;
  margin-right: 20px;
}

.header {
  background-color: #333333ed;
  color: white;
  padding: 20px 40px;
  text-align: center;
  display: flex;
  justify-content: space-between;
}

.header button {
  background-color: #38d33de7;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.header button:hover {
  background-color: #45a049;
}

.sidebar {
  flex: 1;
  border-left: 1px solid #ddd;
  padding-left: 20px;
}

.sidebar h2 {
  font-size: 24px;
  color: #333;
  margin-bottom: 20px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  margin-bottom: 14px;
  font-size: 16px;
  color: #555;
}
.sidebar li:hover {
  color: #242424;
  cursor: pointer;
}
.sidebar li:active {
  font-weight: bold;
}
.blog-post {
  border: 1px solid #ddd;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.blog-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.blog-title {
  margin: 0;
  font-size: 26px;
  color: #2c3e50;
  font-weight: bold;
}

.blog-actions {
  display: flex;
  gap: 10px;
}

.blog-actions svg {
  font-size: 20px;
  color: #555;
  cursor: pointer;
  transition: color 0.3s ease;
}

.blog-actions svg:hover {
  color: #272e36;
  transform: scale(1.1);
}

.blog-author {
  font-size: 15px;
  color: #7f8c8d;
  margin-top: 5px;
}

.blog-content {
  font-size: 18px;
  color: #34495e;
  margin-top: 10px;
  line-height: 1.6;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 10px;
  width: 400px;
  position: relative;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  border: none;
  background: none;
  font-size: 1.5rem;
  cursor: pointer;
  background-color:#007bff;
}

.form-group {
  margin-bottom: 15px;
  width: 350px;
  padding: 5px;
}

label {
  display: block;
  margin-bottom: 5px;
  color: rgb(40, 40, 40);
  text-align: left;
}
.form-title{
  margin: 22px 0 12px 0;
  color: rgb(60, 59, 59);
}
input,
textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  padding: 10px 20px;
  background: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.btn-add {
  width: 100%;
}

button:hover {
  background: #0056b3;
}
/* log in */
.login-backgorund{
  width: 100%;
  height: 100vh;
  background: linear-gradient(135deg, #f5f7fa, #c3cfe2);
  display: flex;
  justify-content: center;
  align-items: center;
}
.login-form {
  width: 400px;
  height: 350px;
  padding: 20px; 
  border: 1px solid #eaeaea;
  border-radius: 8px;
  background-color: #f9f9f9;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.login-title {
  text-align: center;
  font-size: 1.8rem;
  margin-bottom: 20px;
  color: #333;
}

.form {
  display: flex;
  flex-direction: column;
}

.form-label {
  margin-bottom: 8px;
  font-size: 1rem;
  color: #555;
}

.form-input {
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
  width: 100%;
}

.form-input:focus {
  border-color: #007bff;
  outline: none;
}

.login-button {
  padding: 10px 15px;
  font-size: 1rem;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 24px;
  transition: all .3s ease-in-out;
}

.login-button:hover {
  background-color: #0056b3;
}
